workflows/Owntracks_Location_Tracker.json
{
  "name": "Enhanced Owntracks Location Tracker",
  "description": "Advanced Owntracks workflow with distance filtering, rate limiting, and multi-type support",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "owntracks",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-owntracks",
      "name": "Webhook - Owntracks",
      "type": "n8n-nodes-base.webhook",
      "position": [256, 304]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simple Owntracks data validator and transformer\n// This just verifies the basics and passes the data through\nconst item = $input.first();\n\ntry {\n  // Get the body from webhook input\n  const inputData = item.body || item;\n  \n  // Basic validation - does it have coordinates?\n  const hasValidCoordinates = \n    inputData.lat !== undefined && \n    inputData.lon !== undefined;\n\n  if (hasValidCoordinates) {\n    // Create a simple output\n    return [{\n      json: {\n        source: 'owntracks',\n        type: inputData._type || 'location',\n        coordinates: {\n          latitude: inputData.lat,\n          longitude: inputData.lon,\n          accuracy: inputData.acc || 0\n        },\n        device: {\n          battery: inputData.batt || 0,\n          trigger: inputData.t || '',\n          timestamp: inputData.tst || 0\n        },\n        raw: inputData,\n        valid: true,\n        skip: false\n      }\n    }];\n  } else {\n    // Log invalid data but still return something\n    console.log('Invalid data received:', JSON.stringify(inputData));\n    return [{\n      json: {\n        valid: false,\n        skip: true,\n        raw: inputData,\n        reason: 'Missing coordinates'\n      }\n    }];\n  }\n} catch (error) {\n  // Handle any errors\n  console.error('Error processing Owntracks data:', error);\n  return [{\n    json: {\n      valid: false,\n      skip: true,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "enhanced-filter",
      "name": "Filter Location Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": false
            }
          ]
        }
      },
      "id": "check-skip",
      "name": "Should Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [656, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://poke.com/api/v1/inbound-sms/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.poke_payload }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 10000,
          "retry": {
            "enabled": true,
            "maxAttempts": 3,
            "waitBetween": 1000
          }
        }
      },
      "id": "send-to-poke",
      "name": "Send to Poke",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [864, 208]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst response = item.body || item;\n\nconsole.log('✅ Successfully sent to Poke');\nconsole.log('Response:', JSON.stringify(response, null, 2));\n\nreturn {\n  json: {\n    success: true,\n    status: item.statusCode || 200,\n    message: 'Update sent to Poke',\n    timestamp: new Date().toISOString(),\n    stats: response.workflow_stats || null\n  }\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1056, 208]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nconsole.log('⏭️ Update skipped');\nconsole.log('Reason:', item.reason || 'No reason provided');\nconsole.log('Received data:', JSON.stringify(item.received_data || item.original_data, null, 2));\n\nreturn {\n  json: {\n    skipped: true,\n    reason: item.reason,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "log-skipped",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const error = $input.item.json;\n\nconsole.error('❌ Error processing update');\nconsole.error('Error:', JSON.stringify(error, null, 2));\n\n// Extract meaningful error information\nconst errorMessage = error.message || \n  error.error?.message ||\n  (error.cause && JSON.stringify(error.cause)) ||\n  'Unknown error';\n\nreturn {\n  json: {\n    error: true,\n    message: errorMessage,\n    details: error,\n    timestamp: new Date().toISOString(),\n    // Add context for debugging\n    context: {\n      statusCode: error.statusCode,\n      url: error.config?.url,\n      method: error.config?.method\n    }\n  }\n};"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1056, 304]
    }
  ],
  "connections": {
    "Webhook - Owntracks": {
      "main": [
        [
          {
            "node": "Filter Location Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Location Data": {
      "main": [
        [
          {
            "node": "Should Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "node": "Send to Poke",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Poke": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {}
}